{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="table-responsive mx-auto" style="width: 80%">
    <h2>Order Details</h2>
    <div class="table-responsive">
        {% if order_items %}
        <table class="table table-bordered">
            <tr style="">
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Category</th>
                <th scope="col">Product Brand</th>
                <th scope="col">Quantity</th>
            </tr>
            {% for order_item in order_items %}
            <tr>
                <td>{{ order_item.product.name }}</td>
                <td>${{ order_item.product.price }}</td>
                <td>{{ order_item.product.category.name }}</td>
                <td>{{ order_item.product.brand.name }}</td>
                <td>{{ order_item.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h1 style="margin: 20px">No products in this order</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
