{% extends "index.html" %}
{% load static %}
{% block content %}

<div class="container">

    <form method="GET" class="form-inline mb-4">
        <div class="form-group mx-2">
            {{ form.search }}
        </div>
        <div class="form-group mx-2">
            {{ form.category }}
        </div>
        <div class="form-group mx-2">
            {{ form.brand }}
        </div>
        <button type="submit" class="btn btn-primary">Search by filter</button>
    </form>

    <div class="mb-3">
        <strong>Sort by:</strong>
        <a href="{% url 'shop:products_list_all_price_asc' %}?sort_by=price_asc" class="btn btn-link">Price Low to
            High</a>
        <a href="{% url 'shop:products_list_all_price_desc' %}?sort_by=price_desc" class="btn btn-link">Price High to
            Low</a>
    </div>


    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <a href="{% url 'shop:product_detail' product.id %}" class="btn btn-second">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </a>
                </div>
                <div class="card-body">
                    {% if product.image %}
                    <p><img src="{{ product.image.url }}" alt="{{ product.name }}" height="100"></p>
                    {% else %}
                    <p><img src="{% static 'images/no_image.jpg' %}" alt="" height="100"></p>
                    {% endif %}
                    <p>{{ product.description }}</p>
                    <p>{{ product.price }}</p>
                    <p>{{ product.brand }}</p>
                    <p>{{ product.category }}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No products</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
